<div class="login-page">  
  <h2 class="login-quote">“Inside of me there are two dogs. One is mean and evil and the other is good and they fight each other all the time. When asked which one wins I answer, the one I feed the most.”</h2>
  <div class="login-form">
    <% if flash[:error]%>
      <p style="color: red;"><%= flash[:error] %></p>
    <% end %>
    <%= form_for :session, url: "/login" do |f| %>
      <%= f.label :username %><br>
      <%= f.text_field :username %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br>

      <div class="login-button">
        <%= f.submit "Sign In" %>
      </div>
    <% end %>
    <p><strong>- OR -</strong></p>
    <%= button_to "Register", new_user_path, method: :get %>
  </div>  
</div>  