<h1> Home - Dashboard </h1>
<h2>Hello <%= @user.name %>!</h2>
<%= button_to "Create a new Habit to Associate Yourself With", new_habit_path, method: :get %>
<%= button_to "Select a Pre-Existing Habit to Associate Yourself With", new_user_habit_path, method: :get %>
<h2>Your current habits:</h2>
<ul>
  <% @user.user_habits.each do |uh| %>
    <li><%= link_to uh.habit.name, user_habit_path(uh) %></li>
  <% end %>
</ul>

<h2>Your Followers:</h2>
<% if @user.followers.any? %>
  <ul>
    <% @user.followers.each do |f| %>
      <li><%= link_to f.name, user_path(f) %></li>
    <% end%>
  </ul>
<% else %>
  <p>You have no followers</p>
<% end %>

<h2>Users You Follow:</h2>
<% if @user.followees.any? %>
  <ul>
    <% @user.followees.each do |f| %>
      <li><%= link_to f.name, user_path(f) %></li>
    <% end%>
  </ul>
<% else %>
 <p>You are not following anyone</p>
<% end %>

