<div class="page-header">  
  <h1>Habit Dashboard</h1>
  <h2>Hello <%= @user.name %>!</h2>
</div>

<div class="page-flex">  
  <div class="cards">
    <%= button_to "Select a Pre-Existing Habit to Associate Yourself With", new_user_habit_path, method: :get, class: "button" %>
    <p><strong>- OR -</strong></p>
    <%= button_to "Create a new Habit to Associate Yourself With", new_habit_path, method: :get, class: "button" %>
    <h2>Your current habits:</h2>
    <% if @user.active_user_habits.any? %>
        <% @user.active_user_habits.each do |uh| %>
          <p><%= link_to uh.habit.name, user_habit_path(uh) %></p>
        <% end %>
    <% else %>
      <p>You have no active habits at the moment. Way to go!</p>
    <% end %>
  </div>

  <div class="cards">
    <h2>Your Followers:</h2>
    <% if @user.followers.any? %>
        <% @user.followers.each do |f| %>
          <p><%= link_to f.name, user_path(f) %></p>
        <% end%>
    <% else %>
      <p>You have no followers at the moment</p>
    <% end %>
  </div>

  <div class="cards">
    <h2>Your past habits:</h2>
    <% if @user.inactive_user_habits.any? %>
        <% @user.inactive_user_habits.each do |uh| %>
          <p><%= link_to uh.habit.name, user_habit_path(uh) %></p>
        <% end %>
    <% else %>
      <p>You have no inactive habits at the moment. Keep on truckin'!</p>
    <% end %>
  </div>

  <div class="cards">
    <h2>Users You Follow:</h2>
    <% if @user.followees.any? %>
        <% @user.followees.each do |f| %>
          <p><%= link_to f.name, user_path(f) %></p>
        <% end%>
    <% else %>
    <p>You are not following anyone at the moment</p>
    <% end %>
  </div>
</div>

<h1 class="page-header">Followed Users Recent Activity:</h1>

<div class="stack-flex">
  <% @user.followee_logs_sorted.each do |log| %>
    <div class="cards">
      <h4><%= log.user_habit.user.name %></h4>
      <h3><%= link_to log.user_habit.habit.name, habit_log_path(log) %></h3>
        <p>Mood: <%= log.mood %></p>
        <p>Entry: <%= log.entry %></p>
        <p>Reached Daily Goal: <%= log.daily_goal_reached %></p>
        <% if log.encouragements.count == 1 %>
          <p><%= log.encouragements.count %> Encouragement</p>
        <% elsif log.encouragements.count > 1 %>
          <p><%= log.encouragements.count %> Encouragements</p>
        <% end %>
        <p>Posted On <%= log.created_at.to_date %> @ <%= log.formatted_time %></p>
      
        <div class="encouragements-list">
          <% if log.encouragements.any? %>
            <% log.encouragements.each do |e| %>
              <p><%= e.user.username %>:</p>
              <p><%= e.comment %></p>
              <p><%= e.created_at.to_date %> @ <%= e.formatted_time %></p>
              <% if e.user_id == cookies[:user_id].to_i %>
                <%= button_to "Edit", edit_encouragement_path(e), method: :get, class: "button" %>
                <%= button_to "Delete", "/encouragements/#{e.id}", method: :delete, class: "button" %>
              <% end %>
              _____________________
            <% end%>
          <% end %>
        </div>
      <%= button_to "Add Comment", new_encouragement_path, params: {habit_log_id: log.id}, method: :get, class: "button" %>
    </div>
  <% end %>
</div>


