<div class="div-text-align-center">  
  <img src="<%= @user.image_url %>" height=200 width=200>
</div>  
<h1 class="page-header"><%= @user.name%>'s Profile Page</h1>

<div class="div-text-align-center">
  <p>Username: <%= @user.username %></p>
  <% if @friendships.include?(cookies[:user_id].to_i) %>
    <p>You are following this user</p>
    <%= button_to "Unfollow #{@user.name}", "/friendships/#{@friendship_id}", params: {followee_id: @user.id}, method: :delete, class: "button"  %>
  <% else %>
    <%= button_to "Follow #{@user.name}", '/friendships', params: {followee_id: @user.id}, class: "button" %>
  <% end %>
</div>

<h2 class="page-header">Recent Logs:</h2>

<div class="stack-flex">
  <% @user.habit_logs.each do |log| %>
    <div class="cards">
      <h3><%= link_to log.user_habit.habit.name, habit_log_path(log) %></h3>
      <p>Mood: <%= log.mood %></p>
      <p>Entry: <%= log.entry %></p>
      <p>Reached Daily Goal: <%= log.daily_goal_reached %></p>
      <% if log.encouragements.count == 1 %>
        <p><%= log.encouragements.count %> Encouragement</p>
      <% elsif log.encouragements.count > 1 %>
        <p><%= log.encouragements.count %> Encouragements</p>
      <% end %>
      <p>Posted On <%= log.created_at.to_date %> @ <%= log.formatted_time %></p>
      <div class="encouragements-list">
        <% if log.encouragements.any? %>
          <% log.encouragements.each do |e| %>
            <p><%= e.user.username %>:</p>
            <p><%= e.comment %></p>
            <p><%= e.created_at.to_date %> @ <%= e.formatted_time %></p>
            <% if e.user_id == cookies[:user_id].to_i %>
              <%= button_to "Edit", edit_encouragement_path(e), method: :get, class: "button" %>
              <%= button_to "Delete", "/encouragements/#{e.id}", method: :delete, class: "button" %>
            <% end %>
            _____________________
          <% end%>
        <% end %>
      </div>
      <%= button_to "Encourage #{log.user_habit.user.name}", new_encouragement_path, params: {habit_log_id: log.id}, method: :get, class: "button" %>
    </div> 
  <% end %>
</div>
