
<div class="stack-flex">
  <div class="cards">
    <h3><%= @habit_log.user_habit.user.name %></h3>
    <h1><%= @habit_log.user_habit.habit.name %></h1>
    <p>Mood: <%= @habit_log.mood %></p>
    <p>Entry: <%= @habit_log.entry %></p>
    <p>Reached Daily Goal: <%= @habit_log.daily_goal_reached %></p>
    <p>Posted On <%= @habit_log.created_at.to_date %> @ <%= @habit_log.formatted_time %></p>

    <div class="encouragements-list">
      <h3>Encouragements:</h3>
      <% if @habit_log.encouragements.any? %>
        <% @habit_log.encouragements.each do |e| %>
          <ul>
            <li><%= e.user.username %>:</li>
            <ul>
              <li><%= e.comment %></li>
              <li><%= e.created_at.to_date %> @ <%= e.formatted_time %></li>
            </ul>
            <% if e.user_id == cookies[:user_id].to_i %>
              <%= button_to "Edit", edit_encouragement_path(e), method: :get, class: "button" %>
            <% end %>
          </ul>
      <% end %>
    </div>
    <% else %>
      <%= "None at the moment" %>
    <% end %>
    <%= button_to "Encourage #{@habit_log.user_habit.user.name}", new_encouragement_path, params: {habit_log_id: @habit_log.id}, method: :get, class: "button"%>
  </div>
</div>