<div class="div-text-align-center">  
  <% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
      <p style="color: red;"><%= msg %></p>
    <% end %>
  <% end %>
</div>  
<div class="form-flex">
  <%= form_for @encouragement do |f| %>
    <%= f.hidden_field :user_id, value: cookies[:user_id] %>
    <%= f.hidden_field :habit_log_id, value: @habit_log.id %>

    <%= f.text_area :comment %><br>

    <%= f.submit "Submit", class: "button" %>
  <% end %>
</div>