<h1 class="page-header">See habits that fellow users are working on listed by category</h1>

<h3>General Health</h3>
<% @habits_general.each do |h| %>
<ul>
<%= link_to h.name.upcase, habit_path(h) %><br>
<%= h.users.length %> Users are breaking this habit
</ul>
<% end %>

<h3>Financial Health</h3>
<% @habits_financial.each do |h| %>
<ul>
<%= link_to h.name.upcase, habit_path(h) %><br>
<%= h.users.length %> Users are breaking this habit
</ul>
<% end %>

<h3>Social Health</h3>
<% @habits_social.each do |h| %>
<ul>
<%= link_to h.name.upcase, habit_path(h) %><br>
<%= h.users.length %> Users are breaking this habit
</ul>
<% end %>

<h3>Mental Health</h3>
<% @habits_mental.each do |h| %>
<ul>
<%= link_to h.name.upcase, habit_path(h) %><br>
<%= h.users.length %> Users are breaking this habit
</ul>
<% end %>

<h3>Career Health</h3>
<% @habits_career.each do |h| %>
<ul>
<%= link_to h.name.upcase, habit_path(h) %><br>
<%= h.users.length %> Users are breaking this habit
</ul>
<% end %>