<h1>Habit: </h1>
<h2><%= @habit.name.upcase %></h2>
<h3>Category: <%= @habit.category.upcase %></h3>

<%= @habit.users.length %> user(s) are breaking this habit right now!<br>
Meet those habit breakers below:

<% @users_of_habit.each do |u| %>
<ul>
<%= link_to u.name, user_path(u)%>
</ul>
<% end %>

<h2>Habit Activity:</h2>
<% @specific_logs.each do |log| %>
<h3><%= link_to "Log Entry", habit_log_path(log) %></h3>
<ul>
  <li>Posted by: <%= link_to log.user_habit.user.name, user_path(log.user_habit.user) %></li>
  <li>Mood: <%= log.mood %></li>
  <li>Entry: <%= log.entry %></li>
  <li>Reached Daily Goal: <%= log.daily_goal_reached %></li>
  <li>Posted On <%= log.created_at.to_date %> @ <%= log.formatted_time %></li>
<% if log.encouragements.count == 1 %>
      <li><%= log.encouragements.count %> Encouragement</li>
    <% elsif log.encouragements.count > 1 %>
      <li><%= log.encouragements.count %> Encouragements</li>
    <% end %>
</ul>
<% end %>



