<div class="page-header">  
  <h1>Habit: </h1>
  <h2><%= @habit.name.upcase %></h2>
  <h3>Category: <%= @habit.category.upcase %></h3>
</div>  

<div class="div-text-align-center">
  <p><%= @habit.users.length %> user(s) are breaking this habit right now!<br></p>
  <p>Meet those habit breakers below:</p>

  <% @users_of_habit.each do |u| %>
      <p><img src="<%= u.image_url %>" height=30 width=30><%= link_to u.name, user_path(u)%></p>
  <% end %>
<div>  

<div class="page-header">
  <h2>Habit Activity:</h2>
</div> 

<div class="stack-flex">
  <% @specific_logs.each do |log| %>
  <div class="cards">
    <p><img src="<%= log.user_habit.user.image_url %>" height=50 width=50><%= link_to log.user_habit.user.name, user_path(log.user_habit.user) %></p>
    <p>Entry: <%= log.entry %></p>
    <p>Mood: <%= log.mood %></p>
    <p>Reached Daily Goal: <%= log.daily_goal_reached %></p>
    <p>Posted On <%= log.created_at.to_date %> @ <%= log.formatted_time %></p>
    <% if log.encouragements.count == 1 %>
      <p><%= log.encouragements.count %> Encouragement</p>
    <% elsif log.encouragements.count > 1 %>
      <p><%= log.encouragements.count %> Encouragements</p>
    <% end %>
    <h5><%= link_to "View Log", habit_log_path(log) %></h5>
  </div>  
  <% end %>
</div>



