<!DOCTYPE html>
<html>
  <head>
    <title>HabitBreak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <br>
  <br>
  <br>
  <%= link_to "Users", users_path %>
  <% if cookies[:user_id] %>
    <%= link_to "Dashboard", user_home_path(cookies[:user_id]) %>
    <%= link_to "Manage Account", edit_user_path(cookies[:user_id]) %>  
    <%= link_to "Logout", '/logout', method: :delete %>
  <% end %>

  
  <body>
    <%= yield %>
  </body>
</html>
